<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    
    <!-- jQuery -->
    <script   src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag "abbrev" %>
    
    <title>Western Room Checker</title>
    
</head>

<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-md-12">
                <h1 class = "center top-buffer">ROOM ABBREVIATIONS</h1>
                <table>
                    <tr><td>3M</td> <td>3M Centre</td></tr>
                    <tr><td>AFAR</td> <td>Advanced Facility For Avian Research</td></tr>
                    <tr><td>AH</td> <td>Alumni Hall</td></tr>
                    <tr><td>AHB</td> <td>Arts and Humanities Building</td></tr>
                    <tr><td>AR</td> <td>Government of Canada Agriculture Insitutue</td></tr>
                    <tr><td>AWC</td> <td>Alumni Western Centre (BMO)</td></tr>
                    <tr><td>BGG</td> <td>3M Biological and Gelogical Greenhouses</td></tr>
                    <tr><td>BGSB</td> <td>Biological and Geological Sciences Building</td></tr>
                    <tr><td>BUC</td> <td>Brescia University College</td></tr>
                    <tr><td>CB</td> <td>Collip Building</td></tr>
                    <tr><td>CHB</td> <td>Chemistry Building</td></tr>
                    <tr><td>CMLP</td> <td>Claudette Mackay-Lassonde Pavillon</td></tr>
                    <tr><td>CO</td> <td>Cronyn Observatory</td></tr>
                    <tr><td>EC</td> <td>Elborne College </td></tr>
                    <tr><td>FEB</td> <td>John George Althouse Faculty of Education Building</td></tr>
                    <tr><td>FPC</td> <td>Fraunhofer Project Centre for Composites Research</td></tr>
                    <tr><td>HSB</td> <td>Arthur and Sonia Labatt Health Sciences Building</td></tr>
                    <tr><td>HUC</td> <td>Huron University College</td></tr>
                    <tr><td>IGAB</td> <td>International Graduate Affairs Building</td></tr>
                    <tr><td>IVEY</td> <td>Richard Ivey Building</td></tr>
                    <tr><td>KB</td> <td>Kresege Building</td></tr>
                    <tr><td>KUC</td> <td>King's University College</td></tr> 
                    <tr><td>LB</td> <td> Josephine Spencer Niblett Law Building</td></tr>
                    <tr><td>LRI</td> <td>Lawson Research Institute</td></tr>
                    <tr><td>LWH</td> <td>Lawson Hall</td></tr>
                    <tr><td>MB </td> <td>Music Building</td></tr>
                    <tr><td>MC</td> <td>Middlesex College</td></tr>
                    <tr><td>MOG</td> <td>The Gordon J. Mogenson Building</td></tr>
                    <tr><td>MSB</td> <td>Medical Sciences building</td></tr>
                    <tr><td>NCB</td> <td>North Campus Building</td></tr>
                    <tr><td>PAB</td> <td>Physics and Astronomy Building</td></tr>
                    <tr><td>SH</td> <td>Somerville House</td></tr>
                    <tr><td>SSC</td> <td>Social Science Centre</td></tr>
                    <tr><td>TC</td> <td>Talbot College</td></tr>
                    <tr><td>TEB</td> <td>Thompson Engineering Building</td></tr>
                    <tr><td>TH</td> <td>Thames Hall</td></tr>
                    <tr><td>TL</td> <td>Allyn and Betty Taylor Library</td></tr>
                    <tr><td>TRAC</td> <td>Thompson Recreation and Athletic Centre</td></tr>
                    <tr><td>UC</td> <td>University College</td></tr>
                    <tr><td>UCC</td> <td>University Community College</td></tr>
                    <tr><td>VAC</td> <td>John Labatt Visual Arts Centre</td></tr>
                    <tr><td>WCS</td> <td>Western Continuing Studies</td></tr>
                    <tr><td>WL</td> <td>Weldon Library</td></tr>
                    <tr><td>WSC</td> <td>Laurence O. Paterson Western Science Centre</td></tr>
                   
                </table>
            </div>
        </div>
    </div>
</body>

</html>