<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    
    <!-- jQuery -->
    <script   src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag "home" %>
    
    <title>Class Room For Me</title>
    
</head>

<body>
    <div class = "container">
        <div class = "row">
            <div class = "col-md-12">
                <h1 class = "center top-buffer">CLASS ROOMS</h1>
                <br>
            </div>
        </div>
        
        <div class = "row">
            <div class = "col-md-12">
                <% @rooms.each do |letter_arr| %>
                    <% letter_arr.each do |r|%>
                        <h6 class = "center" style = "text-align:center;"><a href = <%= "../room/" + r.identifier %>><%= r.identifier %></a></h6>
                    <% end %>
                    <br>
                <% end %>
            </div>
        </div>    
    </div>
</body>

</html>