body {
  margin: 0;
  padding: 0;
  background: #2F2F2F;
}

h1 {
  font-family: Arial Rounded Mt Bold;
  color: white;
}

.box {
  background: #4F2D82;
  border-radius: 4px;
  padding: 20px;
}
.box label {
  color: white;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 18px;
}
.box button {
  background: #2F2F2F;
  color: white;
  border: none;
  height: 34px;
  font-weight: Demi Bold;
  font-family: Avenir next;
  font-size: 20px;
  text-shadow: none;
  line-height: 20px;
  letter-spacing: 1px;
}

.info {
  margin-top: 20px;
}
.info p {
  color: white;
  font-size: 14px;
}
