<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WUCC</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<!-- change for development -->
	<link rel="stylesheet" href="dev/styles.css">
	
</head>
<body>
	<section class="details">

		<div class="container-fluid">
			<div class="row text-center">
				<h1>WUCC</h1>
				<span class="glyphicon glyphicon-ok" aria-hidden="true">
				</span>
			</div>

			<div class="answer row text-center">
				<p>Room 12321 is free until 3pm</p>
			</div>

			<div class="row">
				<h2>Details:</h2>
				<table>
					<tr>
						<th>building:</th>
						<th>business</th>
					</tr>
					<tr>
						<th>next course:</th>
						<th>macro economy</th>
					</tr>
					<tr>
						<th>starts:</th>
						<th>4:50 pm:</th>
					</tr>
					<tr>
						<th>ends:</th>
						<th>6 pm:</th>
					</tr>
				</table>
			</div>
			
		</div>

	</section>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- change for distribution -->
<script src="dev/script.js"></script>
</html>